/***** BASE STYLES *****/

body {
  font-family: 'Source Sans Pro', sans-serif;
}

#work, #contact {
    height: 600px;
}
#about, #other {
    height: 500px;
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/***** Header section *****/
header {
    height: 800px;
    background:url('../img/full-background.png');
    background-size: cover;
}

header h1 {
    padding: 50px 0;
    font-family: 'Lora', serif;
    font-size: 38px;
    color: #0048AA;
}

nav {
    float: right;
    padding: 75px 30px;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #0048AA;
    padding-left: 40px;
}

header h2 {
    width:1192px;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 72px;
    line-height: 80px;
    color: #9b9b9b;
    padding: 20px 0;
}

header h2 span {
    color: #2b2b2b;
}

/***** About section *****/

#about .full-width {
    padding: 40px 0;
}

#about h2 {
    font-family: 'Lora', serif;
    font-size:36px;
}

#about p {
    font-size:21px
    color:#7f7f7f;
    line-height: 40px;
    padding-right: 50px;
}

/***** Work section *****/

#work {
  background-color: #9BDBE5;
  text-align: center;
}

#work .full-width {
    padding: 70px 0;
}

#work img {
    padding-bottom: 30px;
}

#work h3 {
    font-size: 24px;
    color: #2b2b2b;
    width: 190px;
    margin: 0 auto;
}

#work p {
    font-family: "Lora", serif;
    font-size: 18px;
    line-height: 30px;
    color: #2b2b2b;
    padding: 0 35px;
}

/***** Other Projects section *****/

#other .full-width {
    padding: 40px 0;
}

#other h2 {
    font-family: 'Lora', serif;
    font-size:36px;
}

#other h3 {
    font-family: 'Lora', serif;
    font-size:24px;
    color: #0048AA;
    margin: 0 auto;
}

#other p {
    font-size:21px
    color:#7f7f7f;
    line-height: 40px;
    padding-right: 50px;
}

/***** Contact section *****/

#contact {
  background-color: #ebebeb;
}

#contact .full-width {
    padding: 110px 0;
}

#contact img#contact-img {
    border: 12px solid #ffffff;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}

#contact #envelope {
    padding: 0 10px 0 115px;
}

#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
}

#contact #email-header{
    font-size: 32px;
    font-weight: 400;
    margin: -30px 0 5px 0;
}

#contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    margin: 40px 0 0 0;
}

#contact a {
    text-decoration: none;
    color: #0048AA;
    font-weight: bold;
    font-size: 28px;
}

#contact ul {
    list-style: none;
}

#contact ul li {
     display: inline-block;
}

#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}
